@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?fsv41a');
	src:url('fonts/icomoon.eot?#iefixfsv41a') format('embedded-opentype'),
		url('fonts/icomoon.woff?fsv41a') format('woff'),
		url('fonts/icomoon.ttf?fsv41a') format('truetype'),
		url('fonts/icomoon.svg?fsv41a#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
	content: "\f002";
}

.icon-envelope-o:before {
	content: "\f003";
}

.icon-heart:before {
	content: "\f004";
}

.icon-star:before {
	content: "\f005";
}

.icon-star-o:before {
	content: "\f006";
}

.icon-user:before {
	content: "\f007";
}

.icon-th-large:before {
	content: "\f009";
}

.icon-check:before {
	content: "\f00c";
}

.icon-close:before {
	content: "\f00d";
}

.icon-remove:before {
	content: "\f00d";
}

.icon-times:before {
	content: "\f00d";
}

.icon-power-off:before {
	content: "\f011";
}

.icon-repeat:before {
	content: "\f01e";
}

.icon-rotate-right:before {
	content: "\f01e";
}

.icon-refresh:before {
	content: "\f021";
}

.icon-lock:before {
	content: "\f023";
}

.icon-tag:before {
	content: "\f02b";
}

.icon-bookmark:before {
	content: "\f02e";
}

.icon-list:before {
	content: "\f03a";
}

.icon-edit:before {
	content: "\f044";
}

.icon-pencil-square-o:before {
	content: "\f044";
}

.icon-check-square-o:before {
	content: "\f046";
}

.icon-chevron-left:before {
	content: "\f053";
}

.icon-chevron-right:before {
	content: "\f054";
}

.icon-plus-circle:before {
	content: "\f055";
}

.icon-minus-circle:before {
	content: "\f056";
}

.icon-times-circle:before {
	content: "\f057";
}

.icon-check-circle:before {
	content: "\f058";
}

.icon-arrow-left:before {
	content: "\f060";
}

.icon-arrow-right:before {
	content: "\f061";
}

.icon-arrow-up:before {
	content: "\f062";
}

.icon-arrow-down:before {
	content: "\f063";
}

.icon-plus:before {
	content: "\f067";
}

.icon-minus:before {
	content: "\f068";
}

.icon-chevron-up:before {
	content: "\f077";
}

.icon-chevron-down:before {
	content: "\f078";
}

.icon-thumbs-o-up:before {
	content: "\f087";
}

.icon-thumbs-o-down:before {
	content: "\f088";
}

.icon-bookmark-o:before {
	content: "\f097";
}

.icon-twitter:before {
	content: "\f099";
}

.icon-facebook:before {
	content: "\f09a";
}

.icon-facebook-f:before {
	content: "\f09a";
}

.icon-credit-card:before {
	content: "\f09d";
}

.icon-globe:before {
	content: "\f0ac";
}

.icon-filter:before {
	content: "\f0b0";
}

.icon-chain:before {
	content: "\f0c1";
}

.icon-link:before {
	content: "\f0c1";
}

.icon-table:before {
	content: "\f0ce";
}

.icon-angle-left:before {
	content: "\f104";
}

.icon-angle-right:before {
	content: "\f105";
}

.icon-angle-up:before {
	content: "\f106";
}

.icon-angle-down:before {
	content: "\f107";
}

.icon-smile-o:before {
	content: "\f118";
}

.icon-frown-o:before {
	content: "\f119";
}

.icon-meh-o:before {
	content: "\f11a";
}

.icon-unlock-alt:before {
	content: "\f13e";
}

.icon-file-text:before {
	content: "\f15c";
}

.icon-qq:before {
	content: "\f1d6";
}

.icon-wechat:before {
	content: "\f1d7";
}

.icon-weixin:before {
	content: "\f1d7";
}

.icon-paypal:before {
	content: "\f1ed";
}

.icon-cc-visa:before {
	content: "\f1f0";
}

.icon-cc-mastercard:before {
	content: "\f1f1";
}

.icon-cc-paypal:before {
	content: "\f1f4";
}

.icon-user-plus:before {
	content: "\f234";
}

.icon-user-times:before {
	content: "\f235";
}

