$icon-search: "\f002";
$icon-envelope-o: "\f003";
$icon-heart: "\f004";
$icon-star: "\f005";
$icon-star-o: "\f006";
$icon-user: "\f007";
$icon-th-large: "\f009";
$icon-check: "\f00c";
$icon-close: "\f00d";
$icon-remove: "\f00d";
$icon-times: "\f00d";
$icon-power-off: "\f011";
$icon-repeat: "\f01e";
$icon-rotate-right: "\f01e";
$icon-refresh: "\f021";
$icon-lock: "\f023";
$icon-tag: "\f02b";
$icon-bookmark: "\f02e";
$icon-list: "\f03a";
$icon-edit: "\f044";
$icon-pencil-square-o: "\f044";
$icon-check-square-o: "\f046";
$icon-chevron-left: "\f053";
$icon-chevron-right: "\f054";
$icon-plus-circle: "\f055";
$icon-minus-circle: "\f056";
$icon-times-circle: "\f057";
$icon-check-circle: "\f058";
$icon-arrow-left: "\f060";
$icon-arrow-right: "\f061";
$icon-arrow-up: "\f062";
$icon-arrow-down: "\f063";
$icon-plus: "\f067";
$icon-minus: "\f068";
$icon-chevron-up: "\f077";
$icon-chevron-down: "\f078";
$icon-thumbs-o-up: "\f087";
$icon-thumbs-o-down: "\f088";
$icon-bookmark-o: "\f097";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-facebook-f: "\f09a";
$icon-credit-card: "\f09d";
$icon-globe: "\f0ac";
$icon-filter: "\f0b0";
$icon-chain: "\f0c1";
$icon-link: "\f0c1";
$icon-table: "\f0ce";
$icon-angle-left: "\f104";
$icon-angle-right: "\f105";
$icon-angle-up: "\f106";
$icon-angle-down: "\f107";
$icon-smile-o: "\f118";
$icon-frown-o: "\f119";
$icon-meh-o: "\f11a";
$icon-unlock-alt: "\f13e";
$icon-file-text: "\f15c";
$icon-qq: "\f1d6";
$icon-wechat: "\f1d7";
$icon-weixin: "\f1d7";
$icon-paypal: "\f1ed";
$icon-cc-visa: "\f1f0";
$icon-cc-mastercard: "\f1f1";
$icon-cc-paypal: "\f1f4";
$icon-user-plus: "\f234";
$icon-user-times: "\f235";
