<form>
    <div class="row">
        <div class="small-6 columns">
            <input type="text"
            placeholder="Title"
            ng-model="newEventCtrl.event.title" />
        </div>
    </div>
    <div class="row">
        <div class="small-6 columns">
            <textarea placeholder="Description"
                ng-model="newEventCtrl.event.description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            <input class="button"
            type="button"
            ng-click="newEventCtrl.newEvent(newEventCtrl.event)"
            value="Create event" />
        </div>
    </div>
</form>
