.ns-wrapper {
	@include grid-frame($orientation: vertical);
}

.ns-nav {

	.ns-nav-list {
		@extend %menu-bar;
		@include menu-bar-layout(
			$orientation: horizontal, // Can be horizontal or vertical
			$stretch: true // Set to false for a condensed menu
		);
	}
}

.ns-main {
	@include grid-content;
}