<li class="event-thumbnail">
  <a class="event-thumbnail-heading"
    href="/events/event{{eventThumbnailCtrl.event.$id}}">
    {{eventThumbnailCtrl.event.title}}
  </a>
  <div class="event-thumbnail-body">
    {{eventThumbnailCtrl.event.description}}
  </div>
</li>
