<div>
    <form>
        register
        <div class="row collapse">
            <div class="small-3 large-2 columns">
                <span class="prefix">Username: </span>
            </div>
            <div class="small-9 large-10 columns">
                <input type="text" ng-model="user.username" placeholder="Example: aa@bb.com">
            </div>
            <div class="small-3 large-2 columns">
                <span class="prefix">Password: </span>
            </div>
            <div class="small-9 large-10 columns">
                <input type="password" ng-model="user.password">
            </div>
            <div class="small-2 columns">
                <input type="button" class="button postfix" ng-click="register(user)" value="register">
            </div>

        </div>
        <div class="row collapse" ng-show='hasNotification()'>

            {{notification}}
        </div>
    </form>
</div>
