.ns-login {
    // @media #{$small-only} {
    //     @include grid-column($columns: 12, $center: true);
    // }
    // @media #{$medium-up} {
    //     @include grid-column($center: true);
    //     width: 480px;
    // }
}

// .ns-login-username,
// .ns-login-password,
// .ns-login-submit {
//     @include grid-column($columns: 12);
// }

// .ns-login-submit-btn {
//     @include button($padding: $button-sml, $full-width: true);
// }

// .ns-login-footer-link{
//     display: block;
// }