$font-dir: unquote('../../fonts/lato/');

@font-face {
    font-family: 'Lato';
    src: url('#{$font-dir}Lato-Hairline.woff') format('woff'),
         url('#{$font-dir}Lato-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('#{$font-dir}Lato-Light.woff') format('woff'),
         url('#{$font-dir}Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('#{$font-dir}Lato.woff') format('woff'),
         url('#{$font-dir}Lato.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('#{$font-dir}Lato-Bold.woff') format('woff'),
         url('#{$font-dir}Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
