<zf-offcanvas position="left" id="menu">
    <a zf-close="" class="close-button">×</a>
</zf-offcanvas>

<div class="ns-wrapper">
        <!-- Navigation -->
        <div class="menu-group">
            <div class="ns-nav menu-group-left">
                <ul class="ns-nav-list">
                    <li class="ns-nav-list-item show-small">
                        <a class="offcanvas-toggle" zf-hard-toggle="menu">&equiv;</a>
                    </li>
                    <li class="ns-nav-list-item">
                       <a ui-sref="app.home">
                            Home
                        </a> 
                    </li>
                    <li class="ns-nav-list-item">
                        <a ui-sref="login">
                            Login
                        </a>
                    </li>
                    <li class="ns-nav-list-item">
                        <a ui-sref="register">
                            Register
                        </a>
                    </li>
                    <li class="ns-nav-list-item">
                        <a ui-sref="app.events.new">
                            New Event
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    <!-- Main content -->
    <div ui-view class="ns-main grid-frame vertical"></div>
</div>
