<div class="ns-login">
    <form>
        <fieldset>
            <legend>NISER user login</legend>
            <div class="ns-login-username">
                <input type="text"
                ng-model="user.username"
                placeholder="Username">
            </div>
            <div class="ns-login-password">
                <input type="password"
                ng-model="user.password"
                placeholder="Password">
            </div>
            <div class="ns-login-submit">
                <button class="ns-login-submit-btn"
                ng-click="login(user)">Login</button>
            </div>
            <div class="ns-login-footer">
                <a class="ns-login-footer-link" href="">Haven't got an account?</a>
                <a class="ns-login-footer-link" href="">Forgot password?</a>
            </div>
        </fieldset>
    </form>
</div>
